.home-search-wrapper {
    position: absolute !important;
    right: 0px;
    margin-top: 0.25rem;
}

.home_instrument tr th:first-child {
    min-width: 3em;
}

.InstrumentSymbol {
    cursor: pointer;
}