$white: #fff;
$black: #000;
$pre-dark: #444;
$pre-grey: #f9fafc;
$grey: #f4f4f5;
$at-btn: #ff3b30;
$dark: #000;
$green: #49c02c;
$green-hover: #23bc4c;
$green-active: #189b3b;
$blue: #1b94e4;
$blue-hover: #176aa1;
$blue-active: #176aa1;
$silver: #a9a1a1;
$blue-bg: #e7f1f8;
$text-color: #333;
$btn-white: #ececec;
$btn-white-hover: #e3e3e3;
$red: #db2828;
$red-hover: #e11212;
$inactive-text: #626262;
$border-gray: #d7d7d7;
