$regular: "GothamProRegular", sans-serif;
$bold: "GothamProBold", sans-serif;
$medium: "GothamProMedium", sans-serif;
$light: "GothamProLight", sans-serif;

$sans: 'Open Sans', sans-serif;

$form-header: 20px;
$font-text: 14px;

$mobile: 768px;
$tablet: 1280px;

$font-h1: 16px/1 $light;
$font-h2: 14px/22px $bold;
$font-p1: 12px/18px $regular;
$font-p2: 14px/22px $regular;
$font-btns: 13px/1 $medium;