<template name="AdminSidebar">
	<aside class="main-sidebar">
		<div class="sidebar">
			<ul class="sidebar-menu">
				<li>
					<a href="{{pathFor 'adminDashboard'}}">
						<i class="ui icon home"></i>
						<span>Dashboard</span>
					</a>
				</li>
				{{#each admin_collections}}
					{{#unless $eq showInSideBar false}}
					<li class="treeview">
						<a href="#">
							<i alt="{{this.label}}" class="sidebar-icon ui icon {{this.icon}}"></i>
							<span>{{this.label}}</span>
							<i class="ui icon chevron down"></i>
						</a>
						<ul class="treeview-menu">
							{{#if showNewItemInSideBar}}
							<li class="{{isActivePath path=newPath}}"><a href="{{newPath}}"><i class="ui icon plus"></i> New</a></li>
							{{/if}}
							<li class="{{isActivePath path=viewPath}}"><a href="{{viewPath}}"><i class="ui icon eye"></i> View All</a></li>
							{{#each admin_collection_items}}
							<li class="{{isActivePath path=url}}"><a href="{{url}}"><i class="ui icon magic"></i> {{title}}</a></li>
							{{/each}}
						</ul>
					</li>
					{{/unless}}
				{{/each}}
				{{#each admin_sidebar_items}}
					{{#if options.urls}}
						{{> adminSidebarItemTree}}
					{{else}}
						{{> adminSidebarItem}}
					{{/if}}
				{{/each}}
			</ul>
		</div>
	</aside>
</template>

<template name="adminSidebarItem">
	<li class="{{isActivePath path=url}}">
		<a href="{{url}}">
			{{#if options.icon}}
			<i class="ui icon {{options.icon}}"></i>
			{{/if}}
			<span>{{title}}</span>
		</a>
	</li>
</template>

<template name="adminSidebarItemTree">
	<li class="treeview">
		<a href="#">
			{{#if options.icon}}
			<i class="ui icon {{options.icon}}"></i>
			{{/if}}
			<span>{{title}}</span>
			<i class="ui icon magic"></i>
		</a>
		<ul class="treeview-menu">
			{{#each options.urls}}
			<li class="{{isActivePath path=url}}"><a href="{{url}}"><i class="ui icon magic"></i>{{title}}</a></li>
			{{/each}}
		</ul>
	</li>
</template>
